{% load static %}
  
  {% block title %}
  <title>TopTim</title>
    
  {% endblock %}
    

    {% include 'includes/head.html' %}

  <body>
    
    {% block body %}
      
      
    <main class="main" id="top">

      <div class="container" data-layout="container">
        {% include 'includes/header.html' %}
        <div class="content">
          {% include 'includes/navbar.html' %}
          {% include 'includes/card_stat.html' %}
          {% include 'includes/card_client.html' %}
        </div>
      </div>
    </main>

    {% include 'includes/scripts.html' %}
    {% endblock %}

  </body>